$primary: rgb(34, 194, 48);
$secondary: rgb(119, 33, 47);
$card_color: lightblue;

header {
	color: $primary;
	display: flex;
	h1 {
		color: $secondary;
		&:hover {
			background-color: blue;
		}
	}
}

.card {
	color: white;
	background-color: $card_color;
	h3 {
		background-color: $primary;
		&:hover {
			background-color: red;
		}
	}
	p {
		font-size: 60px;
	}
}
